
.error-message {
    display: inline-block;
    padding: 7px;
    margin: 10px 0;
    border: 1px solid #130201;
    border-radius: 5px;
    background-color: #ffdddd;
    color: #803530;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards, shake 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}
